.link {
  cursor: pointer;
  display: block;
  border: 3px solid black;
  border-radius: 20px;

  font-size: 32px;
  padding: 16px;

  text-decoration: none;
  color: black;

  transition: 0.4s;
  margin: 16px 0;
}
.link:hover {
  background-color: rgb(195, 195, 195);
}

img {
  width: 32px;
  vertical-align: middle;
}
